body {
  font-family: 'Montserrat';
  background-color: #5ea2cf;
}

thead {
  font-weight: bold;
}

.jumbotron {
  background-color: #2e4f52;
  color: #bbb;
}

.panel-default {
  opacity: .8;
}

.panel-default > .panel-heading {
  background-color: #2e4f52;
  border-color: #2e4f52;
  color: #fff;
}

.panel-default {
  border-color: #2e4f52;
}

.panel-heading small {
  color: #bbb;
}

img {
  position: fixed;
  bottom: 0px;
  width: 100%;
  z-index: -1;
}

@media only screen and (min-width: 1600px){
  img {
    bottom: -5%;
  }
}